MAIL_TO=""
SHELL=/bin/bash
BASH_ENV=/container.env
0 * * * * root cd /workdir && run-parts --report /etc/cron.hourly >/proc/1/fd/1 2>/proc/1/fd/2
10 1 * * * root cd /workdir && run-parts --report /etc/cron.daily >/proc/1/fd/1 2>/proc/1/fd/2
20 2 * * 7 root cd /workdir && run-parts --report /etc/cron.weekly >/proc/1/fd/1 2>/proc/1/fd/2
30 3 1 * * root cd /workdir && run-parts --report /etc/cron.monthly >/proc/1/fd/1 2>/proc/1/fd/2
